* {
	-fx-text-fill: WHITE;
}

.pane {
	-fx-background-position: bottom center;
	-fx-background-size: cover;
	-fx-background-color: #263238;
}

.pane_with_bg {
	-fx-background-image: url("../img/background.jpg");
}

.btn { 
	-fx-padding: 0.4em 0.6em;
	-fx-margin: 50 75;
	-fx-font-size: 14px;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
	-fx-border-color: WHITE;
	-fx-border-width: 2;
	-jfx-button-type: RAISED;
	-fx-pref-width: 200;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
	-fx-cursor: hand;
}

.btn-exit {
	-fx-background-color: rgb(253, 59, 59);
	-fx-border-color: rgb(253, 59, 59);
	-fx-text-fill: WHITE;
}

.btn-primary {
	-fx-background-color: rgb(255, 255, 255);
	-fx-text-fill: BLACK;
}

.btn-secondary {
	-fx-background-color: rgb(40, 165, 237);
	-fx-text-fill: WHITE;
	-fx-border-color: rgb(40, 165, 237);
}

.btn-accent {
	-fx-background-color: rgb(255, 193, 7);
	-fx-text-fill: WHITE;
	-fx-border-color: rgb(255, 193, 7);
}

.title {
	-fx-font-size: 48px;
	-fx-font-weight: bold;
	-fx-fill: WHITE;
	-fx-stroke: black;
	-fx-stroke-width: 0.5;
	-fx-text-alignment: center;
}

.unselected {
	-fx-background-color: rgba(255, 255, 255, 0.45);
	-fx-text-fill: BLACK;
}

.unselected:hover {
	-fx-background-color: WHITE;
}

.selected {
	-fx-background-color: WHITE;
	-fx-text-fill: BLACK;
}

.spacer {
	-fx-opacity: 0;
}