* {
	-fx-padding: 50 75;
	-fx-background-color: rgb(230, 230, 230);
}

.btn { 
	-fx-padding: 0.4em 0.6em;
	-fx-font-size: 14px;
	-jfx-button-type: RAISED;
	-fx-pref-width: 200;
	-fx-text-fill: WHITE;
}

.btn-exit {
	-fx-background-color: rgb(253, 59, 59);
}

.btn-primary {
	-fx-background-color: rgb(77,102,204);
}